RewriteEngine On
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*Rackup\.php
RewriteRule ^Rackup.php/?(.*)$ $1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ Rackup.php/$1?%{QUERY_STRING} [L]
